	.Roster {
			text-align: center;
	}


  
  .Roster-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .SameLine {
    display: inline
  }
	
	.RosterComponent {
		text-align: left;
		align-items: left;
		width: 60%;
		padding: 5px;
		outline: 5px solid black;
		margin-top: 50px;
		float: left;
	}

  .RosterComponentBottom {
		text-align: left;
		align-items: left;
		width: 60%;
		padding: 5px;
    margin-bottom: 100px;
		border: 5px solid black;
    outline: 5px solid black;
    outline-offset:15px;
		margin-top: 50px;
		float: left;
	}


  .RosterResult {
    text-align: left;
		align-items: left;
		width: 60%;
		padding: 5px;
		outline: 5px solid black;
		margin-top: 50px;
    margin-bottom: 100px;
		float: left;

  }

  .CategoryEntry {
    margin-top: 10px;
  }

  .Fields {
    padding-left: 50px;
    font-size: 0.8em;
    margin-top: 5px;
  }

	#AddTopMargin {
		margin-top: 50px;
	}

	#Title {
		text-align: left;
	}




  /*
    
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  */